<div class="well">
    <div class="row">
        <div class="col-md-3">
            <h3>New</h3>
            <div id="newTasks" *ngFor="let task of tasks | stateFilter:'New'" class="swimLane">
                <div class="task leftCorner leftMostTask">
                    <div class="taskUpper">
                        {{task.taskName}}
                    </div>
                    <div class="taskLower">
                        {{task.description}}
                    </div>
                </div>
                <div (click)="moveToNextState(task.id)" class="stateButton rightCorner">
                    <fa name="chevron-right"></fa>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <h3>Analyzed</h3>
            <div id="analyzedTasks" *ngFor="let task of tasks | stateFilter:'Analyzed'" class="swimLane">
                <div (click)="moveToPreviousState(task.id)" class="stateButton leftCorner">
                    <fa name="chevron-left"></fa>
                </div>
                <div class="task">
                    <div class="taskUpper">
                        {{task.taskName}}
                    </div>
                    <div class="taskLower">
                        {{task.description}}
                    </div>
                </div>
                <div (click)="moveToNextState(task.id)" class="stateButton rightCorner">
                    <fa name="chevron-right"></fa>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <h3>In progress</h3>
            <div id="inProgressTasks" *ngFor="let task of tasks | stateFilter:'In progress'" class="swimLane">
                <div (click)="moveToPreviousState(task.id)" class="stateButton leftCorner">
                    <fa name="chevron-left"></fa>
                </div>
                <div class="task">
                    <div class="taskUpper">
                        {{task.taskName}}
                    </div>
                    <div class="taskLower">
                        {{task.description}}
                    </div>
                </div>
                <div (click)="moveToNextState(task.id)" class="stateButton rightCorner">
                    <fa name="chevron-right"></fa>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <h3>Finished</h3>
            <div id="finishedTasks" *ngFor="let task of tasks | stateFilter:'Finished'" class="swimLane">
                <div (click)="moveToPreviousState(task.id)" class="stateButton leftCorner">
                    <fa name="chevron-left"></fa>
                </div>
                <div class="task rightCorner rightMostTask">
                    <div class="taskUpper">
                        {{task.taskName}}
                    </div>
                    <div class="taskLower">
                        {{task.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p style="margin-top: 10px">
        <a class="btn btn-info" role="button" routerLink="/taskMgmt" routerLinkActive="active">
            Main page
        </a>
    </p>
</div>