.swimLane {
	margin-bottom: 1px;
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-start;
	align-items: stretch;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.42857143;
}

.task {
	order: 2;
	flex: 1 1 auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.leftMostTask {
	border-left: 1px solid black;
}

.rightMostTask {
	border-right: 1px solid black;
}

.taskUpper {
	background-color: #FFFFFF;
	font-size: 18px;
	padding: 10px;
}

.taskLower {
	background-color: #F5F5F5;
	border-top: 1px solid #DDDDDD;
	font-size: 14px;
	padding: 10px;
}

.stateButton {
	align-self: stretch;
	align-items: center;
	display: flex;
	min-width: 1.2em;
	background-color: white;
	border: 1px solid black;
}

.leftCorner {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	order: 1;
}

.rightCorner {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	order: 3;
}
