/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.ngx-datepicker-container {
	z-index: inherit !important;
}

.ngx-datepicker-calendar-container {
	z-index: 1;
}

body {
	font-size: 0.875rem;
}