<div class="container-fluid">
    <div class="row modal-header">
        <div class="col-sm-12">
            <h3 class="modal-title">{{ informationDialogData.caption }}</h3>
        </div>
    </div>
    <div class="row modal-body">
        <div class="col-xs-12">
            <h4>{{ informationDialogData.description }}</h4>
        </div>
    </div>
    <div class="row modal-footer">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" (click)="close()">
                <fa name="remove"></fa>
                Close
            </button>
        </div>
    </div>
</div>
