<h1>Your tasks</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="invsible">Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td class="invsible">{{ task.id }}</td>
            <td style="vertical-align: middle;">{{ task.taskName }}</td>
            <td style="vertical-align: middle;">{{ task.description }}</td>
            <td style="vertical-align: middle;">{{ task.state }}</td>
            <td>
                <button class="btn btn-info" (click)="editTask(task.id)">
                    <fa name="edit"></fa>
                    Edit
                </button>
            </td>
            <td>
                <button class="btn btn-info" (click)="deleteTask(task.id)">
                    <fa name="trash"></fa>                    
                    Delete
                </button>
            </td>
        </tr>
            
    </tbody>
</table>
<button type="button" class="btn btn-info" (click)="createTask()">
    <fa name="plus-circle"></fa>
    Create task
</button>
<a class="btn btn-info" role="button" routerLink="/stateMgmt" routerLinkActive="active">
    <fa name="list"></fa>
    Manage your tasks
</a>
