<div class="container-fluid">
    <div class="row modal-header">
        <div class="col-sm-12">
            <h3 class="modal-title">Register user</h3>
        </div>
    </div>
    <div class="row modal-body">
        <div class="col-sm-12">
            <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" [(ngModel)]="registrationData.userId" name="Username" required />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" [(ngModel)]="registrationData.password" name="Password" required />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm password" class="form-control" [(ngModel)]="registrationData.confirmPassword" name="confirmPassword" required />
            </div>
        </div>
    </div>
    <div class="row modal-footer">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success" (click)="ok()">
                <fa name="check"></fa>
                Register
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
                <fa name="remove"></fa>
                Cancel
            </button>
        </div>
    </div>
</div>
