<div class="container-fluid">
    <div class="row modal-header">
        <div class="col-sm-12">
            <h3 class="modal-title">Create task</h3>
        </div>
    </div>
    <div class="row modal-body">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="taskname">Name</label>
                <input id="taskname" type="text" placeholder="Taskname" class="form-control" [(ngModel)]="taskDto.taskName" required />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" type="text" placeholder="Description" class="form-control" [(ngModel)]="taskDto.description" required />
            </div>
            <div class="form-group">
                <div><label for="startDatepicker">Start date</label></div>
                <ng-datepicker [(ngModel)]="startDate" position="top-right" [options]="dpOptions"></ng-datepicker>
            </div>
            <div class="form-group">
                <div><label for="endDatepicker">End date</label></div>
                <ng-datepicker [(ngModel)]="endDate" position="top-right" [options]="dpOptions"></ng-datepicker>
            </div>
        </div>
    </div>
    <div class="row modal-footer">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success" (click)="ok()">
                <fa name="check"></fa>
                Register
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
                <fa name="remove"></fa>
                Cancel
            </button>
        </div>
    </div>
</div>