<div class="container-fluid">
    <div class="row modal-header">
        <div class="col-sm-12">
            <h3 class="modal-title">Report technical issue</h3>
        </div>
    </div>
    <div class="row modal-body">
        <div class="col-sm-12">
            <div class="form-group">
                <input type="text" placeholder="Your name" class="form-control" [(ngModel)]="errorReportData.name" required />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Phone number" class="form-control" [(ngModel)]="errorReportData.phoneNumber" required />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Email address" class="form-control" [(ngModel)]="errorReportData.email" required />
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Describe the problem" [(ngModel)]="errorReportData.description" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row modal-footer">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success" (click)="ok()">
                <fa name="check"></fa>
                Send report
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
                <fa name="remove"></fa>
                Cancel
            </button>
        </div>
    </div>
</div>
