<form class="form-inline" (ngSubmit)="login()" >
    <div *ngIf="!loggedIn()">
        <input type="text" placeholder="Username"
                [(ngModel)]="loginData.userId"
                name="Username"
                required style="margin-right:5px" />
        <input type="password" placeholder="Password"
                [(ngModel)]="loginData.password"
                name="Password"
                required style="margin-right:5px" />
        <button type="submit" class="btn btn-success" style="margin-right:5px">
            <fa name="sign-in"></fa>
            Sign in
        </button>
    </div>

    <div *ngIf="loggedIn()">
        <button type="button" class="btn btn-primary" (click)="logout()">
            <fa name="sign-out"></fa>
            Logout
        </button>
    </div>
</form>