<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" routerLink="/front" routerLinkActive="active">GTD</a>       
        <div id="navbar"  class="ml-auto">
            <auth></auth>
        </div>

    </nav>
</div>

<router-outlet></router-outlet>